* {
    margin: 0;
    padding: 0;
}
.Block {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    margin: 20px;
}

#first {
    float: left;
}

#second {
    float: right;
    background-color: blue;
}